.auth__form, .auth__succes{
	margin: 0.5rem auto 0;
	padding: 0.5rem;
}
.auth__input.invalid {
	border-bottom: 1px solid var(--red);
}
.auth__money {
	margin-top: 0.8rem;
	font-size: 1.5rem;
}
.btn-logout {
	background-color: var(--grey) !important;
}
.btn-login {
	margin-top: 10px;
}