.input-bid, .bid-form {
	text-align: center;
}
.bid-btn {
	margin: 3rem 0 1rem;
}
.input-field {
	margin: 0 !important;
}
.bid-list {
	text-align: center;
	margin-top: 1rem;
}
.bid-active {
	color: var(--yellow);
}
.bid-finished {
	color: #3aff59;
}
.bid-time {
	padding: 1.5rem 0
}
.bid-club {
	color: var(--yellow);
	font-size: 1.1rem;
}
.need-auth {
	margin-top: 6rem;
	color: var(--red);
}
.bid__input.invalid {
	border-bottom: 1px solid var(--red);
}