@namespace url("http://www.w3.org/1999/xhtml");
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "~materialize-css/dist/css/materialize.min.css";

@font-face {
	font-family: "Exo 2";
	src: url(assets/fonts/Exo_2/static/Exo2-Medium.ttf);
	font-weight: 500;
}
@font-face {
	font-family: "Exo 2";
	src: url(assets/fonts/Exo_2/static/Exo2-Regular.ttf);
	font-weight: 400;
}
@font-face {
	font-family: "Exo 2";
	src: url(assets/fonts/Exo_2/static/Exo2-Light.ttf);
	font-weight: 300;
}

:root {
	--moredark: #202225;
	--dark: #36393f;
	--white: #f9f6f9;
	--grey: #72757b;
	--grey-light: #b9bbbe;
	--blue: #7289d9;
	--orange: #faa61a;
	--green: #43b581;
	--red: #f04747;
	--yellow: #ffff7b;
	--excel: #F93A21;
	--good: #F3CF52;
	--badly: #b9bbbe;
	--bad: #72757b;
} 

/* Общие стили */
html {
	color: var(--white) !important;
	background-color: var(--dark) !important;
	font-family: 'Exo 2', sans-serif !important;
	font-weight: 300;
}

button {
	font-family: 'Exo 2', sans-serif !important;
}

img {
	width: 100%;
}

td, th {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

input {
	height: 2rem !important;
	margin: 0 !important;
	color: var(--white);
}

hr {
	width: 70%;
	margin: 0.4rem auto;
	height: 1px;
	border: none;
	border-top: 1px solid #626262;
	box-sizing: border-box;
}

form {
	font-size: 14px;
}

select {
	padding: 0 !important;
	height: 1.5rem !important;
	border: none !important;
	color: var(--white);
	background: none !important;
	font-family: 'Exo 2', sans-serif !important;
	cursor: pointer;
}

option {
	color: var(--dark);
}

select:focus {
	outline: 1px solid rgba(255,255,255,0.2) !important;
}

label {
	font-size: 14px;
	color: var(--white);
}

/* Кастомный скроллбар для большинства браузеров */
.scrollbar::-webkit-scrollbar {
    height: 12px;
    width: 9px;
    background: #1E232D;
} 
.scrollbar::-webkit-scrollbar-thumb {
    background: #7289d9;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
} 
.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 5px;
} 

/* скроллбар для Firefox  */
.scrollbar {
	scrollbar-width: thin; 
	scrollbar-color: #7289d9 #1E232D;
}

/* Плейсхолдеры для всех инпутов  */
::placeholder {
	color: rgb(175, 175, 175) !important;
	font-size: 0.95em;
}


/*  Основная сетка  */
/*------------------*/
.container {
	width: 100%;
}
 .row .col {
	padding: 0 0.6rem !important;
}


/*  Buttons  */
/*-----------*/
.btn, .btn-large, .btn-small {
	font-weight: 400;
	background-color: var(--blue) !important;
}
.btn:hover, .btn-large:hover, .btn-small:hover {
	filter: brightness(115%) !important;
}
.btn-floating i {
	font-size: 1.4rem !important;
}
.btn-small i {
	font-size: 2rem !important;
}
.btn-floating.btn-esmall {
	width: 22px;
	height: 22px;
	font-size: 6px;
}
.btn-floating.btn-esmall i {
	line-height: 22px;
}
.btn:focus-visible, .btn-large:focus-visible, .btn-small:focus-visible, .btn-esmall:focus-visible {
	outline: 2px solid var(--white);
}

/*  SEARCHFORM  */
/*--------------*/
.search-button {
	display: flex;
	justify-content: space-around;
	margin: 15px 0;
}
.input-row {
	font-weight: 500;
	margin-bottom: 10px !important;
}
.input-field {
	margin: 0 !important;
	cursor: pointer;
}

/*  PLAYERS TABLE  */
/*-----------------*/
.tabs {
	font-weight: bold;
}
.table-container {
	font-size: 0.8rem;
	cursor: default;
	height: 450px;
	margin-bottom: 2rem;
	line-height: 2;
	overflow-y: auto;
}
.active-player {
	background-color: var(--blue) !important;
}
.bid-finished {
	color: #480000;
}
.players-table tr {
	height: 28px; 
}
.sort-col {
	cursor: pointer;
}

.players-table, .skills-table, .skills {
	font-size: 0.8rem;
	user-select: none;
}
.uid-col {
	user-select: text;
}

table.striped>tbody>tr:nth-child(odd) {
	background-color: rgb(65, 67, 72) !important;
}
table.striped>tbody>tr.active-player:nth-child(odd) {
	background-color: var(--blue) !important;
}
.td-price {
	font-weight: 600;
}
.table-wrapper {
	height: 448px;
	overflow: auto;
}

/*  PLAYERPROFILE  */
/*-----------------*/
.playerprofile {
	text-align: center;
	font-size: 0.9rem;
}
.playerprofile__name {
	font-size: 1.14rem;
	padding: 0.5rem 0;
	font-weight: 400;
}
.table-skill-value {
	width: 5.33% !important;
}
.table-skill-name {
	width: 27% !important;
	overflow: hidden;
}
.skills-table td {
	padding: 2px 5px 4px !important;
	line-height: 1.4;
	white-space: nowrap;
}
.skills-table-title {
	height: 30px;
}
.skills-margin {
	margin-left: -10px;
}

/* Modal block */
/*-------------*/
.modal {
	border: 1px solid var(--blue);
}
.modal select {
	display: inline-block;
}
.modal .modal-footer {
	text-align: center !important;
}

/* Toast block */
/*-------------*/
#toast-container {
	top: auto; 
	right: auto;
	bottom: 4%;
	left: 4%;
}

.my-toast {
	background-color: var(--blue) !important;
}

/*  Подсказки  */
/*-------------*/
.tooltip {
	position: relative;
}
.tooltip .tooltiptext {
	background-color: rgba(0, 0, 0, 0.75);
	color: #fff;
	text-align: center;
	padding: 4px 0;
  	border-radius: 6px;
	position: absolute;
  	z-index: 1;
	width: 240px;
	bottom: 130%;
	left: 0;
	margin-left: -56px;
	visibility: hidden;
	font-weight: 400;
	transition: 0.3s;
	opacity: 0;
}
.tooltip:hover .tooltiptext  {
	visibility: visible;
	opacity: 1;
}
.help-msg {
	padding: 5rem 0;
	text-align: center;
	font-size: 1.5rem;
}
.error-msg {
	font-size: 0.8rem;
	color: var(--red);
	padding: 0.2rem;
}

/*  Модальное окно  */
/*-----------------*/
.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
}
.modal.modal-fixed-footer {
	height: 50%;
}
.modal {
	display: block;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
}
.modal .modal-footer {
	height: auto;
}
.modal-footer a {
	width: 100%;
}
.modal-wrapper.hide-modal {
	transform: scale(1.15);
	will-change: transform, opacity;
	opacity: 0;
	visibility: hidden;
	transition: 
		transform 0.2s cubic-bezier(0.465, 0.183, 0.153, 0.946), 
		visibility 0.2s cubic-bezier(0.465, 0.183, 0.153, 0.946), 
		opacity 0.2s cubic-bezier(0.465, 0.183, 0.153, 0.946);
	pointer-events: none;
}
.modal-wrapper {
	transition: 
		transform 0.2s cubic-bezier(0.465, 0.183, 0.153, 0.946), 
		opacity 0.2s cubic-bezier(0.465, 0.183, 0.153, 0.946);
	pointer-events: auto;
	opacity: 1;
	visibility: visible;
}
.modal-header {
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.2)
}



/*  MEDIA  */
/*---------*/
@media only screen and (max-width: 1540px) {
	.container {
		width: 90% !important;
	}
}
@media only screen and (max-width: 992px) {
	.players-count {
		top: 922px;
		right: auto;
	}
}
@media only screen and (max-width: 600px) {
	.tabs {
		height: auto !important;
	}
	.tabs.tabs-fixed-width {
		flex-direction: column;
	}
	.container {
		width: 95% !important;
	}
	.button-margin {
		margin: 10px 0;
	}
}
@media only screen and (max-width: 484px) {
	.skills-table td {
		padding: 2px 1px !important;
	}
	.attribute-select {
		width: 150px;
	}
	.modal .modal-content {
		padding: 10px;
	}
	.modal.modal-fixed-footer {
		height: 80%;
	}
}
@media only screen and (max-width: 414px) {
	.attribute-select {
		width: 100%;
	}
	.modal {
		width: 90%;
	}
}
@media only screen and (max-width: 780px) and (orientation: landscape) { 

	.modal.modal-fixed-footer .modal-footer {
		right: 0;
	}
	.modal .modal-footer {
		width: auto;
	}
	.modal.modal-fixed-footer .modal-content {
		height: 100%;
	}
	.modal {
		min-height: 90%;
		top: 50%;
	}
}
