@namespace url("http://www.w3.org/1999/xhtml");
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;500;600&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
	--moredark: #202225;
	--dark: #36393f;
	--white: #f9f6f9;
	--grey: #72757b;
	--grey-light: #b9bbbe;
	--blue: #7289d9;
	--orange: #faa61a;
	--green: #43b581;
	--red: #f04747;
	--yellow: #ffff7b;
	--excel: #F93A21;
	--good: #F3CF52;
	--badly: #b9bbbe;
	--bad: #72757b;
	scrollbar-color: #7289d9 #1E232D !important;
  scrollbar-width: thin !important;
}
* {
	scrollbar-width: thin !important;
}
html {
	color: var(--white) !important;
	background-color: var(--dark) !important;
	font-family: 'Exo 2', sans-serif !important;
}
button {
	font-family: 'Exo 2', sans-serif !important;
}
table {
	border-collapse: inherit !important;
	position: relative;
}
img {
	width: 100%;
}
td, th {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}
input {
	height: 2rem !important;
	margin: 0 !important;
}
input[type=text] {
	color: var(--white);
}
hr {
	width: 70%;
	margin: 0.4rem auto;
	height: 1px;
	border: none;
	border-top: 1px solid #626262;
	box-sizing: border-box;
}
select {
	padding: 0 !important;
	height: 1.5rem !important;
	border: none !important;
	color: var(--white);
	background: none !important;
}
option {
	color: var(--dark);
}
select:focus {
	outline: 1px solid rgba(255,255,255,0.2) !important;
}
.container {
	min-width: 470px;
}
.row {
	position: relative;
}
.input-row {
	margin-bottom: 10px !important;
}

.table-skill-value {
	width: 5.33% !important;
}
.table-skill-name {
	width: 27% !important;
}

.players-table tr {
	height: 28px; 
	font-weight: 300;
}
.skills-table {
	font-weight: 300;
}
.players-table, .skills-table, .skills {
	font-size: 0.8rem;
	user-select: none;
}
.skills td {
	padding: 2px 5px 4px !important;
	line-height: 1.4;
	overflow: hidden;
	white-space: nowrap;
}

table.striped > tbody > tr:nth-child(2n+1) {
	background-color: rgb(65, 67, 72) !important;
}
table.striped > tbody > tr.active-player {
	background-color: var(--blue) !important;
}

.table-container {
	height: 450px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.players-count {
	position: absolute;
	display: flex;
	align-items: center;
	right: 20px;
	top: 485px;
	font-size: 0.8rem;
}
.btn, .btn-large, .btn-small {
	background-color: var(--blue) !important;
}
.btn:hover, .btn-large:hover, .btn-small:hover {
	filter: brightness(115%) !important;
}

.sort-col {
	cursor: pointer;
}

.success-transfer {
	color: #3aff59;
}
.hide {
	display: none;
}
.error-msg {
	font-size: 0.8rem;
	color: var(--red);
	padding: 0.2rem;
}
.sell-price, .sell-msg {
	font-size: 1.2rem;
	text-align: center;
}

.help-msg {
	margin-top: 10rem;
	height: 10rem;
	text-align: center;
	font-size: 1.5rem;
}

@media only screen and (max-width: 1440px) {
	.container {
		width: 85% !important;
	}
}
@media only screen and (max-width: 992px) {
	.players-count {
		top: 922px;
		right: auto;
	}
}
@media only screen and (max-width: 600px) {
	
}
@media only screen and (max-width: 484px) {
	.skills td {
		padding: 2px 1px !important;
	}
}


@import "~materialize-css/dist/css/materialize.min.css"

