.tabs {
	background: none !important;
	height: 36px !important;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
	background-color: rgb(0, 0, 0, 0.15) !important;
}
.tabs .tab a:hover, .tabs .tab a.active {
	background-color: rgb(0, 0, 0, 0.15) !important;
}
.tabs .tab {
	line-height: 36px !important;
}
.tabs .tab a {
	color: var(--blue) !important;
}